name: CI
on: pull_request
permissions:
  contents: read
concurrency:
  group: ${{github.workflow_ref}}
  cancel-in-progress: true
jobs:
  lint:
    name: Lint
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: Brightspace/third-party-actions@actions/checkout
      - name: Set up node
        uses: Brightspace/third-party-actions@actions/setup-node
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Lint (ESLint)
        run: npm run lint:eslint
      - name: Lint (EditorConfig)
        run: npm run lint:editorconfig
  licenses:
    name: Check Licenses
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: Brightspace/third-party-actions@actions/checkout
      - name: Set up node
        uses: Brightspace/third-party-actions@actions/setup-node
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Check licenses
        run: npm run license-check
  build:
    name: Build
    timeout-minutes: 5
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: Brightspace/third-party-actions@actions/checkout
        with:
          persist-credentials: false
      - name: Set up node
        uses: Brightspace/third-party-actions@actions/setup-node
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Handle changes
        uses: Brightspace/third-party-actions@peter-evans/create-pull-request
        id: changes
        with:
          commit-message: Update Build
          base: ${{github.event.pull_request.head.ref}}
          branch: ghworkflow/update-build-for-pr-${{github.event.number}}
          title: Update Build for PR ${{github.event.number}}
          body: 'Update build for PR #${{github.event.number}}.'
          delete-branch: true
          draft: true
          add-paths: dist/*
      - name: Leave comment
        if: steps.changes.outputs.pull-request-operation == 'created'
        uses: BrightspaceUI/actions/comment-on-pr@main
        with:
          message: |
            New build required - pull request #${{steps.changes.outputs.pull-request-number}} has been opened with new built files.

            Please review and merge it to update the build files on your pull request.
          unique-key: auto-build
          post-mode: hide-previous
      - name: Hide comments
        if: >
          steps.changes.outputs.pull-request-operation != 'created' &&
          steps.changes.outputs.pull-request-operation != 'updated'
        uses: Brightspace/third-party-actions@int128/hide-comment-action
        with:
          starts-with: <!-- auto-build -->
      - name: Report status
        if: >
          steps.changes.outputs.pull-request-operation == 'created' ||
          steps.changes.outputs.pull-request-operation == 'updated'
        uses: Brightspace/third-party-actions@actions/github-script
        with:
          script: core.setFailed('Build changes detected')
  test:
    name: Test
    timeout-minutes: 5
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout
        uses: Brightspace/third-party-actions@actions/checkout
      - name: Set up node
        uses: Brightspace/third-party-actions@actions/setup-node
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run test:unit
      - name: Upload report (debug, dry run)
        uses: ./
        if: github.actor != 'dependabot[bot]'
        with:
          aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          aws-session-token: ${{secrets.AWS_SESSION_TOKEN}}
          dry-run: true
          debug: true
      - name: Upload report
        uses: ./
        if: github.actor != 'dependabot[bot]'
        with:
          aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          aws-session-token: ${{secrets.AWS_SESSION_TOKEN}}
      - name: Generate coverage report info
        if: github.actor != 'dependabot[bot]'
        id: coverage-info
        run: |
          COMMON_PATH="$GITHUB_REPOSITORY/$GITHUB_RUN_ID/$GITHUB_RUN_ATTEMPT/$GITHUB_JOB"
          DESTINATION="s3://test-reporting-coverage/$COMMON_PATH/"
          SOURCE='./coverage/lcov-report/'
          URL="https://test-reporting.d2l.dev/coverage/$COMMON_PATH/"
          echo "destination=$DESTINATION" >> $GITHUB_OUTPUT
          echo "source=$SOURCE" >> $GITHUB_OUTPUT
          echo "url=$URL" >> $GITHUB_OUTPUT
      - name: Assume role
        if: github.actor != 'dependabot[bot]'
        uses: Brightspace/third-party-actions@aws-actions/configure-aws-credentials
        with:
          aws-access-key-id: ${{secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          aws-session-token: ${{secrets.AWS_SESSION_TOKEN}}
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::427469055187:role/github+Brightspace+test-reporting-action
          role-duration-seconds: 3600
      - name: Upload code coverage
        if: github.actor != 'dependabot[bot]'
        uses: BrightspaceUI/actions/publish-to-s3@main
        with:
          bucket-path: ${{steps.coverage-info.outputs.destination}}
          publish-directory: ${{steps.coverage-info.outputs.source}}
      - name: Generate test summary
        if: github.actor != 'dependabot[bot]'
        id: test-summary
        uses: Brightspace/third-party-actions@actions/github-script
        with:
          script: |
            const { env } = await import('node:process');
            const { COVERAGE_REPORT_URL: coverageReportUrl } = env;
            const { summary } = core;
            summary.clear();
            if (coverageReportUrl) {
              summary.addHeading('Coverage report', 3);
              summary.addLink('Report', coverageReportUrl);
            }
            summary.write({ overwrite: true });
            core.setOutput('report', summary.stringify());
        env:
          COVERAGE_REPORT_URL: ${{steps.coverage-info.outputs.url}}
      - name: Leave comment
        if: github.actor != 'dependabot[bot]'
        uses: BrightspaceUI/actions/comment-on-pr@main
        with:
          message: ${{steps.test-summary.outputs.report}}
          post-mode: hide-previous
